
.overlay-container {
  width: 220px;
  height: 80px;
  background: white;
  position: absolute;
  left: 80px;

  .overlay-button {
    width: 80px;
    height: 80px;
    background: red;
    opacity: .4;
    position: absolute;
    left: -80px;
  }

}
