<div id="pallete" class="pallete load">

</div>
<div id="app">
  <button ng-click="next()">Next</button>
  <button ng-click="foo()">foo</button>
  <!-- <h1>JUKEBOX</h1> -->
  <input type="text" ng-model="searchartist" ng-change="searchArtist()" placeholder="Search for an artist">
  <ul>
    <li ng-repeat="artist in artists">
      <a class="media" ng-href="{{artist.external_urls.spotify}}" target="_blank">
        <img ng-src="{{artist.images[0].url}}" alt="">
        <div class="media-details">
          {{artist.name}}
        </div>
      </a>
    </li>
  </ul>
</div>
{{trackQuery}}
<div class="spotify-container">

</div>

<iframe id="spotify-player" src="https://embed.spotify.com/?uri=spotify:user:citylims:playlist:7Iu50rZxm3R0nciFzISZLd" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
